expand_query
finalresult
kari
october29
prggram_yahoosearch
querylist
result_rank
result_recognition_matched
result_recognition_matched_other
result_recognition_unmatched
ntcir11_start_write_corpus
ntcir11_start_write_corpus_part
ntcir11_spoken_target_document00
test
lda/ldaResult
ntcir11_spoken_koen/
ntcir11_spoken_koen_jout/
ntcir11_spoken_target_document/
taguchi_used/
hara/

.idea/
